<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Hello Controllers!</h1>
<h2>
    This is a nice little page which popps up because the controller is redirecting it to the HTML page in the configuration.</h2>

<h2>Although you are returning "hello", the default configuration in spring prepends the path i.e. "templates/" and appends the type ".html" intelligently.</h2>

<h2> Making it read the html file from templates/ folder with name hello.html.</h2>

<h2>The Attribute has a value of :</h2><br/>
<h2 th:text="${attribute}" style="color: red">1</h2>

<ul>
    <li th:each="message : ${messages}" th:text="${message}"></li>
</ul>
</body>
</html>